
/*
https://www.color-hex.com/color/00996e

- HEADERS: #002d21
- MENUBUTTONS: #004c37
- BUTTONS: #005b42
- BACKGROUND: #b2e0d3
- FOOTER: #007a5
- FOOTERTEXT: cyan
- SECTIONS: #66c1a8
- TABLES: #003d2c
- DROPDOWNMENUS: 
*/

.general {
	background-color: #b2e0d3;
}

#preview {
	width: 100%;
	height: 100%;
}

.my-custom-scrollbar {
	position: relative;
	overflow: auto;
	}
.table-wrapper-scroll-y {
	display: block;
}

.mainMenu {
	background-color:#66c1a8;
	border-bottom-left-radius: 1%;
	border-bottom-left-radius: 1%;
	height: 610px;
}

.searchRoomTable {
	height: 416px;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
	background-color: #007a58;
	color: black;
}

.footer a{
	color: cyan;
}

.formErrorMessage {
	color: red;
}

.canvasContainer {
	/* This could be done in one single declaration. See the extended sample. */
	margin-right: auto;
	margin-left: auto;
	width: 800px;
}

.headers {
	background-color: #002d21;
}

.menuSwitcher {
	background-color: #004c37;
	border-style: none;
}

.table {
	background-color: #003d2c;
}

.submitButton {
	background-color: #005b42;
}
